
*{
margin:0;
padding:0;
}
body{

background-color: rgba(178, 178, 178, 0.482);

font-family: 'Poppins', sans-serif;
  



}

nav{
    color:white;
    background-color: rgb(16, 39, 91);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:11vh;

}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;

}

nav ul li {
    list-style: none;
    margin:0 20px;
}

nav ul li a{
    text-decoration:none;
    color:white;
}

nav ul li a:hover{
    color:red;
    font-size: 1.4rem;

}


.left{
 width:30vw;
}
.right{
    /* background-color: brown; */
    /* border: 0.2px solid red; */
}

.left{
    font-size: 1.8rem;
}


.rightSection .image{
    border:0.2px solid white;
    display: inline;
    width: 10vw;
}

.firstSection {
    display:flex;
    justify-content: space-around;
    margin: 20px 0;

}

.leftSection{
    /* background-color: red; */
    width:35%;
    font-size: 7vh;
    color: rgb(186, 114, 32);
    /* text-align: center; */
    margin: 7vh 0 0 0;
    position: relative;
    left:3vw;
    bottom:5vh;
}

.rightSection{
    /* background-color: red; */
    width:35%;
}

.rightSection img{
    width:80%;
    position: relative;
    left:8vw;
     top:5vh;

}

.leftSection>.name{
    color: rgb(190, 102, 30);
    font-size: 9vh ;
}

#element{
color:rgb(255, 94, 0);
}


